<!DOCTYPE html>
<html>
	<head>
		<title> Jesse Cai </title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>

	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
    		</ul>
		</nav>
		<div class="container">

		<h1> Jesse Cai </h1>

		<div class="photo" id="floated">
			<img src="images/image.jpg" alt="Jesse Headshot" id="face" style="width:250px;height:350px; float=right">
		</div>

		<p> I am a second year student-athlete at Caltech majoring in Applied and Computational Mathematics with a minor in Computer Science. </p>
		<p> Click on the About page to learn more. </p>
		
		</div>

		<footer>
    		<ul>
        		<li><a href="mailto:jycai@caltech.edu">email</a></li>
        		<li><a href="https://github.com/thejcai">github.com/thejcai</a></li>
			</ul>
		</footer>
	</body>
</html>


